In [66]:

Theoretical Questions

1. What type of language is Python? Which language is Python built on?
        Python is an object-oriented language and is written in C. 
2. Is a docx file read in the same way as a txt file?
        No...(?)
3. What is the difference between a list and a set?
        A list contains any objects, set is a list of unique items
4. Which of the following if statements is a correct representation chained if statements? Multiple answers are allowed.
        OPTION A, OPTION D, OPTION E 
5. What is an f string?
        f-strings are a concise way to embed python expressions inside string literals for formatting
6. What are the benefits of writing a function? List at least 2.
        Improving clarity of the code, making complex problems into simpler pieces, easy to re-use
7. What are some native words of Python? How can we identify them?
        TAB or SHIFT TAB TAB (?)
8. What do we refer to a position of a list? Which value does the first position start with? 
        Position = where the item is located within a list. First position = 0 as Python uses zero-based indexing.

In [ ]:

QUESTION 1:

In [10]:
#example for integer
int_1 = 5 
int_2 = 5
new_int = int_1 + int_2

print(new_int)

10

In [11]:
# complete for string
str_1 = "1"
str_2 = "0"
new_str = str_1 + str_2

print(new_str)

10

In [12]:
# complete for float
float_1 = 8.1
float_2 = 1.9
new_float = float_1 + float_2

print(new_float)

10.0

In [14]:
# complete for bool
bool_1 = True
bool_2 = True
new_bool = bool_1 + bool_2

print(new_bool)

2

In [15]:
# complete for list (option 1)
list_1 = [1, 2, 3, 4, 5]
list_2 = [6, 7, 8, 9, 10]
new_list = list_1 + list_2

print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [1]:
# complete for list (option 2)

list_1 = [1, 2, 3, 4, 5]
list_2 = [6, 7, 8, 9, 10]
list_1.extend(list_2)

print(list_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
# complete for dictionary
dict_1 = {'one':1}
dict_2 = {'nine':9}

new_dict = dict(dict_1)
new_dict.update(dict_2)


print(new_dict)

{'one': 1, 'nine': 9}

In [15]:
# complete for dataframe, idea is to have a single column where one df is added above the other one

import pandas as pd

df_1 = pd.DataFrame({'a':[1,2,34523]})
columns=['a']
df_2 = pd.DataFrame({'a':[1,35,325,5235]}) 
columns=['a']

pd.concat([df_1, df_2], axis=0)

       a
0      1
1      2
2  34523
0      1
1     35
2    325
3   5235

In [ ]:

QUESTION 2

In [81]:
#2.1 (option 1)

#Have the following list cleaned up where there is only one for for each different value.

list_ = [1,2,3,4,1,2,3,4,2,2,5,5,6,6,7,7]
unique_list = list(dict.fromkeys(list_)) #dictionaries cannot have duplicate keys
list_ = list(unique_list)

print(list_)

[1, 2, 3, 4, 5, 6, 7]

In [4]:
#2.1 (option 2)

list_ = [1,2,3,4,1,2,3,4,2,2,5,5,6,6,7,7]
unique_list = set(list_) #sets cannot have duplicate items

list_ = list(unique_list) #assign back to a list

print(list_)

[1, 2, 3, 4, 5, 6, 7]

In [97]:
#2.2 (option 1)

def unique_list(list_):
    unique_list = list(set(list_))
    return (new_list)

list_ = [1,2,3,4,1,2,3,4,2,2,5,5,6,6,7,7]

print (new_list)

[1, 2, 3, 4, 5, 6, 7]

In [95]:

#2.2 (option 2)

def clean_list(list_):
    new_list = list(dict.fromkeys(list_))
    return new_list

new_list = clean_list(list_)

list_ = [1,2,3,4,1,2,3,4,2,2,5,5,6,6,7,7]

print(new_list)

[1, 2, 3, 4, 5, 6, 7]

In [103]:
#2.2 (option 3)

def clean_list(list_):
    clean_list=[]
    for x in list_:
        if x not in clean_list:
            clean_list.append(x)
    return new_list

list_ = [1,2,3,4,1,2,3,4,2,2,5,5,6,6,7,7]
            

print(new_list)

[1, 2, 3, 4, 5, 6, 7]

In [24]:

QUESTION 3

In [93]:
new_list = clean_list(list_)

list_ = [1,2,3,4,1,2,3,4,2,2,5,5,6,6,7,7]

new_list=[]
for x in list_:
    if x not in new_list:
        new_list.append(x)

print(new_list)

[1, 2, 3, 4, 5, 6, 7]

In [1]:
#ex: print_name_age("Jacques", 22)
    #output: "My name is Jacques and I am 22 years old.
    
def print_name_age(name: str, age: int) -> str:
    return "My name is " + name + " and I am " + age + " years old."

name = "Nadia"
age = "25"

print_name_age(name, age)

'My name is Nadia and I am 25 years old.'

In [ ]:

QUESTION 4

In [35]:
#Assume we are trying to access an index of a list that does not exist.

#list_ = [1,2,3]
#list_[10]
#output: indexerror

#What is a way to help manage the error when a value is selected when we do not mean it? Edit the block of code accordingly.

list_ = [1,2,3]

try:
    list_[10]

except: 
    print("Input is outside of list length which is:", len(list_))

Input is outside of list length which is: 3

In [140]:

LEET CODE QUESTIONS

In [ ]:
QUESTION 1

In [206]:
def runningSum(nums):
    for i in range (1, len(nums)):
        nums[i] += nums[i-1]
    return nums

nums = [1, 2, 3, 4]

runningSum(nums)

[1, 3, 6, 10]

In [ ]:

QUESTION 2

In [202]:
#Given a valid (IPv4) IP address, return a defanged version of that IP address.

def defangIPaddr(address):
    address = address.split('.') #splits string into a list
    return '[.]'.join(address)

address = "1.1.1.1.1"

defangIPaddr(address)

'1[.]1[.]1[.]1[.]1'

In [199]:
def defangIPaddr(address):
    return address.replace('.','[.]')

address = "1.2.3.4.5.6"

defangIPaddr(address)

'1[.]2[.]3[.]4[.]5[.]6'

In [ ]:

QUESTION 3

In [8]:
def smallestEvenMultiple(n):
    return n << (n & 1)

n = 1
    
smallestEvenMultiple(n)

2

In [ ]:

QUESTION 4

In [13]:
def maximumWealth(accounts):
    max = 0
    for customer in accounts:            
        if sum(customer) > max:                
            max = sum(customer)
    return max

accounts = [[1,5],[7,3],[3,5]]

maximumWealth(accounts)

10

In [ ]:

QUESTION 5

In [17]:
def mostWordsFound(sentences):
    max_words = 0    
    for i in sentences:
        a = i.split(' ')
        if max_words<len(a):
            max_words = len(a)
    return max_words

sentences = ["alice and bob love leetcode", "i think so too", "this is great thanks very much"]

mostWordsFound(sentences)

6

In [ ]:

QUESTION 6

In [15]:
def numJewelsInStones(jewels,stones):
    jewels_in_stones = 0
    for j in stones: 
        if j in jewels:
            jewels_in_stones += 1 
    return jewels_in_stones

jewels = "aA"
stones = "aAAbbbb"    
    
numJewelsInStones(jewels,stones)

3

In [ ]:

QUESTION 7

In [27]:
def toLowerCase(s):
    for character in s:
        if character == character.upper():
            s = s.replace(character, character.lower())
        return s
    
s = "Hello"

toLowerCase(s)

'hello'

In [ ]:

QUESTION 8

In [49]:
def sortPeople(names, heights):
    res = {}
    for key in names:
        for value in heights:
            res[key] = value
            heights.remove(value)
            break
    sorted(heights.items(), key=lambda x:x[1])
    result = list(heights[0].items())

names = ["Mary","John","Emma"]
heights = [180,165,170]

sortPeople(names,heights)

AttributeError: 'list' object has no attribute 'items'